<div class="cardImageList">
  <% searchedCardList.each do |card| %>
    <div class="eachImageContainer">
      <%# <% if File.exist?(Rails.root.join('app', 'assets', 'images', "#{card.cardid}.png")) %>
        <%# <img src="../../assets/<%= card.cardid %><%# .png" class="cardImage clickable">
      <%# <% else %>
      <%# <% end %>
      <img src="https://itachihai-card-images.s3.ap-northeast-1.amazonaws.com/cardimages/<%= card.cardid %>.png" class="cardImage clickable">
      <span class="adaptNum">0</span>
    </div>
  <% end %>
</div>