<%= provide(:title, 'イラストとストーリーで覚えるTOEIC英単語')%>
<meta name="description" content="TOEICで頻出な英単語を使用したストーリーとイラストで英単語を学習できます！また、覚えた単語をタイピングゲームで復習することで定着率アップ！">
<%# <%= javascript_pack_tag 'indexTypingMovie', 'data-turbolinks-track': 'reload' %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SCT4G2G6T4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SCT4G2G6T4');
</script>



<div class="topPage">
  <h1 class="topPageTitle">イラスト<span class="titleFontSmall">×</span>ストーリー<span class="titleFontSmall">で覚える</span><span>TOEIC英単語</span></h1>
  <p class="topPageTitleEng">〜Learning TOEIC English Words by Illustration and Story〜</p>
  <div class="instantPlayIllustory">
    <%= form_with(model: :illustory, url: sec1EngtoJap_path, local: true, scope: :post) do %>
        <input id="instantPlayIllustoryPopup" type="submit" value="イラスト×ストーリー" class= "instantPlayIllustoryPopup">
      <div class="instantPlayIllustoryContents">
        <p class="instantPlayIllustoryWords"><span>イラスト付きのストーリーで</span><span>TOEIC英単語を学習できます。</span></p>
        <img src="../../assets/illustoryScreenShot.png" class="illustoryTopPage">
        <img src="../../assets/illustoryScreenShotMobile.png" class="illustoryTopPageMobile">
        <%# Video %> 
        <%# <video id="japTypingMovie" src="../../assets/japTypingMovie.mp4" class="japTypingMovie" playsinline>
          <p>ご使用のブラウザでは動画再生に対応していません</p>
        </video> %>
        <div class="instantPlayIllustoryDetail">
          <p>※注意※</p>
          <p>本サイトの「イラスト×ストーリー」は</p>
          <p>各英単語の日本語訳を気軽に覚えられることを目的としています。</p>
          <p>その都合上各ストーリーの英文、及び使用される英単語の一部は、</p>
          <p>英語が堪能な方から見ると違和感を感じるものが含まれます。</p>
          <p>上記をご了承いただける方のみ「イラスト×ストーリー」をご利用ください。</p>
        </div>
      </div>
    <% end %>
  </div>
  <%#<div class="mobilePolicy">
  <p>スマホアプリの</p>
  <p class="mobilePolicyLink"><%= link_to "ご利用規約・プライバシーポリシー", mobilePolicy_eigomonsters_path, method: :get, class: :mobliePolicyLink %><%#</p>%>
  <%#</div>%>
</div>