<%= provide(:title, 'TOEIC英単語タイピング【EigoMonsters】')%>
<meta name="description" content="TOEICで頻出な英単語をタイピングゲームで学習することができます。「日本語訳を答えるコース」と「英単語を答えるコース」の2種類がございます。">
<%# <%= javascript_pack_tag 'indexTypingMovie', 'data-turbolinks-track': 'reload' %>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SCT4G2G6T4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SCT4G2G6T4');
</script>



<div class="topPage">
  <h1 class="topPageTitle">イラスト<span class="titleFontSmall">×</span>ストーリー<span class="titleFontSmall">で覚える</span>TOEIC英単語</h1>
  <p class="topPageTitleEng">〜Learning TOEIC English Words by Illustration and Story〜</p>
  <div class="instantPlayIllustory">
    <%= form_with(model: :illustory, url: sec1EngtoJap_path, local: true, scope: :post) do %>
        <input id="instantPlayIllustoryPopup" type="submit" value="イラスト×ストーリー" class= "instantPlayIllustoryPopup">
      <div class="instantPlayIllustoryContents">
        <p class="instantPlayIllustoryWords"><span>TOEIC英単語を使用したストーリーと</span><span>イラストを通して英単語を学習できます。</span></p>
        <img src="../../assets/illustoryScreenShot.png" class="illustoryTopPage">
        <img src="../../assets/illustoryScreenShotMobile.png" class="illustoryTopPageMobile">
        <%# Video %> 
        <%# <video id="japTypingMovie" src="../../assets/japTypingMovie.mp4" class="japTypingMovie" playsinline>
          <p>ご使用のブラウザでは動画再生に対応していません</p>
        </video> %>
        <div class="instantPlayIllustoryDetail">
          <p>※注意※</p>
          <p><span>ストーリーは「ライティングで減点されないこと」を</span><span>基準に作成しています。</span></p>
          <p>文法に間違いはなく、意味は通じる英文になりますが、</p>
          <p>ネイティブから見ると少し違和感を感じる英文もございます。</p>
          <p>上記をご了承いただける方のみ本サイトをご利用ください。</p>
        </div>
      </div>
    <% end %>
  </div>
</div>