<div class="topPage">
  <h1 class="topPageTitle">英単語をタイピングゲームで学ぶ</h1>
  <p class="engTitle">〜Learning English Words by Typing Game〜</p>
  <div class="menuPopup">
    <h2 class="menuTitle">MENU</h2>
    <div class="menuOption">
      <div class="menuBtnList">
        <%= link_to "タイピングゲーム", typingplay_index_eigomonsters_path, method: :get, class: :menuBtn %>
      </div>
      <div class="menuBtnList">
        <%= link_to "英単語リスト", eng_wordlist_index_eigomonsters_path, method: :get, class: :menuBtn %>
      </div>
      <div class="menuBtnList">
        <%= link_to "EigoMonstersとは", about_eigomonsters_path, method: :get, class: :menuBtn %>
      </div>
      <div class="menuBtnListSns">
        <div class="menuBtnListTwitter">
          <%= link_to 'Twitter', 'https://twitter.com/eigomonsters',target: :blank, rel: :noopener, rel: :noreferrer, class: :menuBtn %>
        </div>
      </div>
    </div>
  </div>
</div>