<div class="contactFormScr">
  <p class="appreciation">ありがとうございます。<br>お問い合わせ内容を送信しました。</p>
  <div class="homeBackDiv"><%= link_to "HOMEに戻る", eigomonsters_path, method: :get, class: :homeBack %></div>
</div>