<%= provide(:title, 'お問い合わせ')%>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SCT4G2G6T4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SCT4G2G6T4');
</script>



<div class="contactFormScr">
  <p class="appreciation">ありがとうございます。<br>お問い合わせ内容を送信しました。</p>
  <div class="homeBackDiv"><%= link_to "HOMEに戻る", eigomonsters_path, method: :get, class: :homeBack %></div>
</div>