<%= provide(:title, 'お問い合わせ')%>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-SCT4G2G6T4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-SCT4G2G6T4');
</script>



<div class="contactFormScr">
  <p class="submitError">メッセージの送信に失敗しました。後でまたお試しください。</p>
  <%= link_to "HOMEに戻る", eigomonsters_path, method: :get, class: :homeBack %>
</div>